.dropzone {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed gray;
  background-color: #f9f9f9;
}

.moreThan30000 {
  background-color:green;
  color:white;
  font-weight:600;
  /* border-left: 4px green solid; */
}

.lessThan30000 {
  background-color:red;
  color:white;
  font-weight:600;
  /* border-left: 4px red solid; */
}